.about {
    height: calc(100vh - 41px - 66px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__img {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        border: 9px solid transparent;
        overflow: hidden;
        background: linear-gradient(to bottom, var(--pink-color), var(--blue-color)) border-box;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text{ 
        max-width: 640px;
        font-size: 58px;
        font-weight: 700;
        line-height: 70px;
        color: var(--title-color);

        span {
            color: transparent;
            background-clip: text;
            background-image: linear-gradient(to right, var(--blue-color), var(--pink-color));
        }
    }
}